<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <!-- Marca de la página -->
  <a class="navbar-brand ml-2 ml-lg-0 mr-auto mr-lg-2" href="{% url 'home_page' %}">ChangeWear<span
    class="sr-only">(actual)</span></a>
  
  <!-- Toggler del navbar -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- Los items del Navbar -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mujer_page'%}">Mujeres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hombre_page'%}">Hombres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'nino_page'%}">Niños</a>
      </li>
    </ul>
    <ul class="navbar-nav mt-1 mt-lg-0 ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarCarrito" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-shopping-cart"></i>
          {% if carro == None%}
          <span class="badge bg-danger">0</span>
          {%else%}
          <span class="badge bg-danger">{{carro}}</span>
          {%endif%}
        </a>
        <div class="dropdown-menu dropdown-menu-lg-left" aria-labelledby="navbarCarrito">
          <div id="carritoNavbar" class="p-3">
            {% if items == None%}
            <a class="dropdown-item" href="#">Sin productos</a>
            {%else%}
              {% for item in items%}
                <div class="d-flex justify-content-between">
                  <a class="dropdown-item" href="#">{{item.producto.titulo}}</a>
                  <p>${{item.producto.precio}}</p>
                </div>
              {% endfor %}
            {%endif%}
          </div>
          <div class="dropdown-divider"></div>
          <a class="btn btn-dark mx-2" role="button" href="{% url 'carro_page'%}">Ver Carro</a>
        </div>
      </li>
      <li class="nav-item my-sm-1 mx-lg-2">
        <a class="btn btn-info" href="#">
          <i class="fas fa-user"></i>
        </a>
      </li>
    </ul>
    <!-- Barra de busqueda
    <form class="form-inline my-0 mr-0 nav-item">
      <input class="form-control mr-0 text_area" type="search" placeholder="Buscar" aria-label="Buscar" />
      <button class="btn btn-outline-success my-1 my-md-0" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form> -->
  </div>
</nav>