{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        <h2 class="my-3">Registrase</h2>
        {% for message in messages%}
            <div class="alert alert-{{message.tags}} my-3" role="alert">
                {{message}}
            </div>
        {% endfor %}
        <div class="container border rounded p-2 shadow">
            <form action="" method="POST">
                <div class="d-flex flex-column">
                    {% csrf_token %}

                    <label for="{{formUser.username.name}}" class="form-label">Nombre</label>
                    {{formUser.username}}
                    <label for="{{formCliente.appellido_paterno.name}}"class="form-label">Apellido Paterno</label>
                    {{formCliente.apellido_paterno}}
                    <label for="{{formCliente.appellido_materno.name}}"class="form-label">Apellido Materno</label>
                    {{formCliente.apellido_materno}}
                    <label for="{{formUser.email.name}}">Dirección de Correo</label>
                    {{formUser.email}}
                    <label for="{{formCliente.telefono.name}}"class="form-label">Número teléfono</label>
                    {{formCliente.telefono}}
                    <label for="{{formUser.password1.name}}">Contraseña</label>
                    {{formUser.password1}}
                    <label for="{{formUser.password2.name}}">Repetir contraseña</label>
                    {{formUser.password2}}
                    <hr>
                    <button type="submit" class="btn btn-primary my-2">Crear cuenta</button>
                
                </div>
            </form>
        </div>
        
    </div>
</main>
{% endblock %}
